# Data Analysis Example Using Pandas to create data sets

Question: How much more women like a movie than men do? 

Using Pandas for data consolidation, aggregation and grouping

In [1]:
import pandas as pd

In [2]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']

In [3]:
users = pd.read_table('~/Documents/PYTHON/ml-1m/users.dat', sep = '::', header = None, names = unames, engine = "python")

In [4]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [5]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('~/Documents/PYTHON/ml-1m/ratings.dat', sep = '::', header = None, names = rnames, engine = "python")

In [6]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [8]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('~/Documents/PYTHON/ml-1m/movies.dat', sep = "::", header = None, names = mnames, engine = "python")

In [10]:
movies[:5]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

Note that ages and occupations are coded as integers indicating groups described in the data set README file.
We need to aggregate the ratings. In order to do that we need to reformat the original data. Consolidate all the data to have a single table using pandas' merge function
First merge ratings with users then merging the result with the movies data Pandas infers which columns to use to join the files. It uses the common fields as keys.

In [11]:
data = pd.merge(pd.merge(ratings, users), movies)

In [12]:
data[:5]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

Getting the mean movie ratings for each film. Aggregating the ratings grouped by one or more user or movie atributes

In [13]:
mean_ratings = data.pivot_table('rating', index='title', columns='gender', aggfunc='mean')

In [14]:
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

FILTERING: Filter down movies that received at least 250 ratings. We are grouping the data by title and use size() to get a series of group sizes for each title.

In [15]:
ratings_by_title = data.groupby('title').size()

In [16]:
ratings_by_title[:10]

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [17]:
active_titles = ratings_by_title.index[ratings_by_title >=250]

In [18]:
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

The index of titles receiving at least 250 ratings can be then used to select rows from mean_ratings above.

In [19]:
mean_ratings = mean_ratings.ix[active_titles]

In [26]:
mean_ratings[:10]

gender                                      F         M      diff
title
'burbs, The (1989)                   2.793478  2.962085  0.168607
10 Things I Hate About You (1999)    3.646552  3.311966 -0.334586
101 Dalmatians (1961)                3.791444  3.500000 -0.291444
101 Dalmatians (1996)                3.240000  2.911215 -0.328785
12 Angry Men (1957)                  4.184397  4.328421  0.144024
13th Warrior, The (1999)             3.112000  3.168000  0.056000
2 Days in the Valley (1996)          3.488889  3.244813 -0.244076
20,000 Leagues Under the Sea (1954)  3.670103  3.709205  0.039102
2001: A Space Odyssey (1968)         3.825581  4.129738  0.304156
2010 (1984)                          3.446809  3.413712 -0.033097

To extract the top films among female viewers, we sort by the F column in descending order

In [22]:
top_female_ratings = mean_ratings.sort_values(by = 'F', ascending = False)

In [23]:
top_female_ratings[:10]

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

# Measuring Disagreement

Find the movies that are most divisive between male and female viewers.
Add a column to mean_ratings containing the difference in means, then sort them.

In [24]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

In [25]:
sorted_by_diff = mean_ratings.sort_values(by = 'diff')

In [30]:
sorted_by_diff[:-5]

gender                                              F         M      diff
title
Dirty Dancing (1987)                         3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)                    3.254717  2.578358 -0.676359
Grease (1978)                                3.975265  3.367041 -0.608224
Little Women (1994)                          3.870588  3.321739 -0.548849
Steel Magnolias (1989)                       3.901734  3.365957 -0.535777
Anastasia (1997)                             3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)        3.673016  3.160131 -0.512885
Color Purple, The (1985)                     4.158192  3.659341 -0.498851
Age of Innocence, The (1993)                 3.827068  3.339506 -0.487561
Free Willy (1993)                            2.921348  2.438776 -0.482573
French Kiss (1995)                           3.535714  3.056962 -0.478752
Little Shop of Horrors, The (1960)           3.650000  3.179688 -0.470312
Guys and Dolls (1955)                        4.051724  3.583333 -0.468391
Mary Poppins (1964)                          4.197740  3.730594 -0.467147
Patch Adams (1998)                           3.473282  3.008746 -0.464536
Grease 2 (1982)                              2.243478  1.792553 -0.450925
Sound of Music, The (1965)                   4.233677  3.783418 -0.450259
Never Been Kissed (1999)                     3.452174  3.002538 -0.449636
Casper (1995)                                3.291139  2.844444 -0.446695
Jewel of the Nile, The (1985)                3.494253  3.048096 -0.446157
South Pacific (1958)                         3.887850  3.445087 -0.442764
Gone with the Wind (1939)                    4.269841  3.829371 -0.440471
Sommersby (1993)                             3.482270  3.046667 -0.435603
Skulls, The (2000)                           3.053333  2.621145 -0.432188
Corrina, Corrina (1994)                      3.523490  3.092593 -0.430897
Iron Eagle (1986)                            2.968750  2.543933 -0.424817
Hope Floats (1998)                           3.206186  2.782383 -0.423802
Beverly Hills Cop III (1994)                 2.865385  2.443333 -0.422051
Sense and Sensibility (1995)                 4.233333  3.819277 -0.414056
Parent Trap, The (1961)                      3.805556  3.393333 -0.412222
...                                               ...       ...       ...
Carlito's Way (1993)                         3.340426  3.742236  0.401810
Unforgiven (1992)                            3.748428  4.155131  0.406704
Predator (1987)                              3.299401  3.706195  0.406793
Airplane! (1980)                             3.656566  4.064419  0.407854
Rounders (1998)                              3.266667  3.680702  0.414035
Tommy Boy (1995)                             3.170732  3.585366  0.414634
Eyes Wide Shut (1999)                        2.891213  3.305949  0.414736
South Park: Bigger, Longer and Uncut (1999)  3.422481  3.846686  0.424206
Godzilla (Gojira) (1954)                     2.948718  3.374046  0.425328
Raging Bull (1980)                           3.831933  4.263441  0.431508
Reservoir Dogs (1992)                        3.769231  4.213873  0.444642
Where Eagles Dare (1969)                     3.384615  3.833333  0.448718
Kingpin (1996)                               3.092308  3.557480  0.465173
Me, Myself and Irene (2000)                  2.629310  3.096847  0.467537
Akira (1988)                                 3.511111  3.980344  0.469233
Wild Bunch, The (1969)                       3.636364  4.128099  0.491736
From Dusk Till Dawn (1996)                   2.735714  3.232558  0.496844
Big Trouble in Little China (1986)           2.987952  3.485030  0.497078
Beavis and Butt-head Do America (1996)       2.637363  3.135417  0.498054
Rocky II (1979)                              2.741379  3.242894  0.501515
Barb Wire (1996)                             1.585366  2.100386  0.515020
Fright Night (1985)                          2.973684  3.500000  0.526316
Exorcist, The (1973)                         3.537634  4.067239  0.529605
Animal House (1978)                          3.628906  4.167192  0.538286
Porky's (1981)                               2.296875  2.836364  0.539489
For a Few Dollars More (1965)                3.409091  3.953795  0.544704
Caddyshack (1980)                            3.396135  3.969737  0.573602
Rocky III (1982)                             2.361702  2.943503  0.581801
Hidden, The (1987)                           3.137931  3.745098  0.607167
Evil Dead II (Dead By Dawn) (1987)           3.297297  3.909283  0.611985

[1211 rows x 3 columns]

Reversing the order of the rows and again slicing off the top 15 rows, we get the movies preferred by men that women didn't rate as highly.

In [31]:
sorted_by_diff[::-1][:15]

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316
Barb Wire (1996)                        1.585366  2.100386  0.515020

In [ ]:
sorted_by_diff.plot()

Calculate the standard deviation of rating grouped by title

In [32]:
rating_std_by_title = data.groupby('title')['rating'].std()

Filter down to active titles

In [33]:
rating_std_by_title = rating_std_by_title.ix[active_titles]

Order Series by value in descending order

In [36]:
rating_std_by_title.sort_values(ascending=False)[:10]

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64

In [37]:
graph = rating_std_by_title.sort_values(ascending=False)

In [38]:
graph[:5]

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Name: rating, dtype: float64

In [40]:
import matplotlib.pyplot as plt

In [61]:
%pylab

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

In [45]:
graph[:5].plot(kind='barh', rot=0, )

In [58]:
import numpy as np

In [62]:
graph[:30].plot(kind='bar'); plt.axhline(0, color='k')